extends layout

block content
  div!= pageHeaderHTML

  h1= title

  div(id="banner")
    amp-img(src=imgSrc, alt=title, width=640, height=320, data-hero)

  div(id="links")
    each innerLink in innerLinks
      a(href=innerLink.link)
        h2= innerLink.anchorText
      amp-img(src="https://domenovacentrala.cz/checkdomain?" + innerLink.domainHostname, alt=innerLink.domainHostname, width=900, height=675, layout="responsive")
      each paragraph in innerLink.paragraphs
        p= paragraph

  each paragraph in paragraphs
    p= paragraph

  a(href=landingPageLink.link)= landingPageLink.anchorText
