extends layout

block content
  h1= title

  if errors
    .errors
      p Please fix the following errors:
      ul
        for error in errors
          li!= error.msg

  form(method='POST' action='')
    div.form-group
      label(for='backlinksCSV') Link farm config:
      textarea#json.form-control(
        type='textarea',
        placeholder='id,link,anchorText'
        name='backlinksCSV'
        required='true'
      ) #{undefined===backlinksCSV ? '' : backlinksCSV}

    .btn-group
      button.btn.btn-primary(type='submit') Save
      | &nbsp;&nbsp;&nbsp;
      a.btn(href=originalUrl+ "/..") Cancel
